.main {
  background-color: #f5e0f5;
  color: black;
  line-height: 25px;
}

#section_assigment,
#section_div,
#section_colors,
#section_form {
  border-radius: 35px;
  width: 1200px;
  height: auto;
  background-color: rgb(199, 170, 199);
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: -4px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  margin-top: 200px;
  margin-bottom: 70px;
  text-align: center;
  font-weight: bolder;
  font-size: 60px
}

h2 {
  margin-left: 200px;
}

.buttons {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

button {
  width: 50%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.55);
}

.box {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: plum;
  border: 2px solid;
  border-radius: 10px;
}

.boxWidth {
  width: 500px;
}

.boxHeight {
  height: 300px;
}

#section_div {
  position: relative;
}

.boxCenter {
  margin-top: 30px;
  margin-left: 240px;
}

.boxPossition {
  position: absolute;
  top: -200px;
}

#section_div {
  display: flex;
}

.header #myLinks {
  display: none;
}

.header a {
  background-color: rgb(199, 170, 199);
  border-radius: 35px;
  margin-left: 50px;
  float: right;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;

}

.header a.icon {
  font-size: 40px;
  float: left;

}

.header a:hover {
  background-color: #f5e0f5;
  opacity: 70%;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  margin: 0 auto;
  background-color: rgb(199, 170, 199);
  width: 100%;
  height: 70px;
  box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.55);
}

#section_colors {
  display: flex;
}

.color {
  border: 1px solid;
  border-radius: 100%;
  margin: 30px;
  width: 150px;
  height: 90px;
  background-color: black;
  text-align: center;
  padding-top: 70px;
  color: white;
}

#section_form {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 25px;
}

.inputs {
  text-align: center;
}

#surname {
  margin-right: 10px;
}

#birthOfYear {
  margin-right: 61px;
}

input {
  width: 20%;
  margin-top: 5px;
}

label {
  font-size: 20px;
  margin-top: 5px;
}

#submit {
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  border-radius: 85px;
  width: 15%;
  background-color: #f5e0f5;
}

table,
th,
td {
  background-color: white;
  border-collapse: collapse;
  border: solid black 2px;
  margin: 0 auto;
  width: 1200px;
}

#table {
  padding: 100px;
  display: none;
  padding-top: 50px;
  margin: 0 auto;
  background-color: rgb(199, 170, 199);
  width: 1250px;
  min-height: 150px;
  height: auto;
  border-radius: 35px;
  box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.55);
}